@use '../../assets/styles/mixin.module.scss' as mixins;
@use '../../assets/styles/variable.module.scss' as vars;

.container {
  margin-top: 100px;
  @include mixins.flex_box_custom(space-around, center, 20px);
}

.title {
  font-size: 35px;
  color: vars.$four-color;
  font-weight: 400;
  text-align: center;
}
.des {
  font-size: 16px;
  color: vars.$third-color;
  text-align: center;
}
.btn {
  cursor: pointer;
  margin-top: 30px;
  text-align: center;
}
