@use '@styles/mixin.module.scss' as mixins;
@use '@styles/variable.module.scss' as vars;
.container {
  padding-top: 123px;
  .functionBox {
    @include mixins.flex_box_custom(space-between, center, 0px);
    .backNavigate {
      color: vars.$secondary-color;
      cursor: pointer;
    }
  }
}
