@use '../../assets/styles/mixin.module' as mixins;

.containerItem {
  @include mixins.flex_box_custom(center, center);
  flex-wrap: wrap;
  width: 100%;
}

.productItem {
  width: 20%;
  margin-right: 0px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

  @media only screen and (max-width: 768px) {
    width: calc(50% - 40px);
  }

  @media only screen and (max-width: 430px) {
    width: calc(50% - 40px);
  }
}
