@use '../../assets/styles/mixin.module' as mixins;

.container {
  @include mixins.flex_box_custom(space-between, flex-start, 20px);
  max-width: 1400px;
  margin: 2rem auto;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.containerItem1 {
  width: 50%;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.containerItem2 {
  width: 50%;

  @include mixins.flex_box_custom(left, center, 16px);
  @media (max-width: 768px) {
    width: 100%;
  }
}

.productContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  justify-content: space-between;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    padding: 10px;
  }
}

.productItem {
  border-radius: 8px;
  padding: 10px;
  transition: transform 0.3s ease;
}
