@use '../../assets/styles/mixin.module' as mixins;
@use '../../assets/styles/variable.module' as vars;
.itemContainer {
  // @include mixins.flex_box_custom(space-between, center, 0px);
  // flex-direction: column;
  width: 100%;
  height: 100%;
  .content {
    align-items: center;
    width: 100%;
  }
}
.container {
  // display: flex;
  justify-content: left;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buttonGroup {
    width: 100%;
    text-align: center;
  }
  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 1rem;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 1rem;
  }
}
.boxImg {
  position: relative;
  cursor: pointer;
  img {
    max-width: 100%;
    height: auto;
  }

  &:hover .showImgWhenHover {
    opacity: 1;
    transition: opacity 500ms;
  }
  .showImgWhenHover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .showFunctionWhenHover {
    position: absolute;
    opacity: 0;
    bottom: 20px;
    right: 0px;
    background-color: #fff;
  }
  &:hover .showFunctionWhenHover {
    opacity: 1;
    right: 20px;
    transition: opacity 500ms, right 300ms;
  }
  @media (max-width: 768px) {
    img {
      width: 100%;
      height: auto;
    }
  }
}

.boxIcon {
  width: 40px;
  height: 40px;
  @include mixins.flex_box_custom(center, center, 0px);
  img {
    width: 17px;
    height: 17px;
  }
  &:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }
  @media (max-width: 576px) {
    width: 30px;
    height: 30px;

    img {
      width: 12px;
      height: 12px;
    }
  }
}
.sizeGroup {
  @include mixins.flex_box_custom(center, center, 10px);
  margin: 20px 0;
  .size {
    margin-right: 10px;
    font-size: 14px;
    border: 1px solid #e1e1e1;
    padding: 5px 8px;
    color: vars.$primary-color;
    cursor: pointer;
    &:hover {
      border-color: vars.$primary-color;
    }
  }
}
.size.active {
  border-color: vars.$primary-color;
}
.btnClear {
  font-size: 0.85rem;
  color: vars.$primary-color;
  cursor: pointer;
  text-align: center;
}

.title {
  font-size: 18px;
  color: vars.$four-color;
  margin: 15px 0;
  font-weight: 400;
}
.textCenter {
  text-align: center;
  font-size: 18px;
}
.priceItem {
  font-size: 16px;
  color: vars.$secondary-color;
  font-weight: 300;
  margin-bottom: 12px;
}
.buttonGroup {
  width: 100%;
  text-align: center;
}
